.fondo-azul {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3c32a4;
    color: #FFF;
}

.rueda {
    border-radius: 20px;
}

.fondo-gris {
    background-color: #BABABB;
}

.blue {
    background-color: #3c32a4;
    transition: 1s;
}

body {
    overflow-x: hidden;
}

@media (min-width: 10px) {
    nav img .img-fluid {
        width: 15%;
        margin-left: 5px;
        margin-right: 36px;
        z-index: 1;
    }

    /* .fondo-galeria {
    } */
    nav {
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.32);
    }

    nav img {
        width: 5%;
        margin-left: 5px;
        margin-right: 36px;
        z-index: 1;
    }

    nav div {
        text-align: center;
    }

    nav div ul li a {
        text-align: center;
        font-family: Segoe UI;
        font-weight: lighter;
        border-color: 1px solid #FFF;
    }

    nav div .btn {
        color: #FFF;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.16);
    }

    /* .valores {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3c32a4;
} */
    .valores h3 {
        font-family: Segoe UI;
        font-size: 150%;
    }

    .valoresC {
        background-color: #3c32a4;
        border-radius: 30px;
        border-top: 12px solid #f8ff00;
        border-left: 12px solid #f7ff00;
        border-right: 12px solid #f7ff00;
        border-bottom: 12px solid #f7ff00;
        box-shadow: 9px 0px 47px;
        margin: 23px;
        height: 10%;
    }

    .valoresC h3 {
        padding: 10px;
        font-family: Segoe UI;
        font-size: 150%;
    }

    .valoresC img {
        padding: 18px;
        background-color: #ffffff;
        margin: 4px;
        border: 9px solid #f8ff00;
    }

    .valoresC p {
        background-color: #ffffff;
        border-radius: 10px;
    }

    .galeria,
    .lpn {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #3c32a4;
    }

    .galeria h3 {
        font-family: Segoe UI;
        font-size: 150%;
    }

    .contenedor {
        padding: 30px 10px;
        box-sizing: border-box;
        background-color: #FFF;
    }

    .contenedor div h4 {
        font-family: Segoe UI;
        font-size: 90%;
    }

    .lpn h3 {
        color: #ffffff;
        font-family: Segoe UI;
        font-size: 150%;
    }

    .comentarios {
        padding: 30px 0px;
        background-color: #dfdfdf;
        background-image: url("../images/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .comentarios div {
        background-color: #fff;
        border-radius: 30px;
        border: 12px solid rgba(248, 255, 0, 0);
        box-shadow: 9px 0px 47px;
        margin: 32px;
    }

    .comentarios div p {
        background-color: #ffffff;
        margin-top: 20px;
        padding: 10px;
        border-radius: 30px;
    }

    footer {
        background-color: #3c32a4;
    }

    footer div div img {
        width: 100px;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    footer div div:nth-of-type(2) h5 {
        color: #ffffff;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        font-family: 'Segoe UI';
        font-weight: 300;
        font-size: 120%;
    }

    footer div div:nth-of-type(3) h5 {
        color: #ffffff;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
        text-align: center;
        font-family: 'Segoe UI';
        font-weight: 300;
        font-size: 120%;
    }

    .fondo-galeria {
        border-radius: 25px;
        padding: 1%;
        box-shadow: 0px 0px 10px;
    }


}

/* Mi Código CSS de la animación del hover Moisés*/
#galery {
    position: relative;
    overflow: hidden;
}

#divs {
    position: relative;
    /* margin: 0 auto; */
    display: table;
    margin: 5px 51px 95px;
    flex: 1;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
    top: 37px;
    border: solid #F8FF00 3px;
    /* width: 70%;
    height: 70%; */
    border-radius: 25px;

    /* 235, 197, 28 */
    background-color: #3c32a4;
    box-shadow: 0px 0px 0px 0px;
}

#divss {
    position: relative;
    /* margin: 0 auto; */
    display: table;
    margin: 7px 136px 95px;
    flex: 1;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
    top: 37px;
    border: solid #F8FF00 3px;
    /* width: 70%;
    height: 70%; */
    border-radius: 25px;

    /* 235, 197, 28 */
    background-color: #3c32a4;
    box-shadow: 0px 0px 0px 0px;
}
.infogal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -101%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0,0.7);
    transition: .5s;
}

#divs span.border{
    position: relative;
    width: 5em;
    height: 5em;
    top: -3em;
    left: -0.3em;
    margin: 0px auto; 
    display: block;
    transform: rotate(45deg);
    pointer-events: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.795);
  }

  #divs span.borders{
    position: relative;
    width: 5em;
    height: 5em;
    top: -2em;
    left: 0em;
    margin: 0px auto; 
    display: block;
    transform: rotate(45deg);
    pointer-events: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.795);
  }

#divs span.border::before,
#divs span.borders::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 4px solid #F8FF00;
    border-bottom: 4px solid #F8FF00;
    box-sizing: border-box;
    transform: scaleX(0);
    transition: 0.3s;
}

#galery:hover #divs span.border::before,
#galery:hover #divs span.borders::before {
    transform: scaleX(1);
    transition-delay: 0.4s;
}

#divs span.border::after,
#divs span.borders::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-right: 4px solid #F8FF00;
    border-left: 4px solid #F8FF00;
    box-sizing: border-box;
    transform: scaleY(0);
    transition: 0.5s;
}

#galery:hover #divs span.border::after,
#galery:hover #divs span.borders::after {
    transform: scaleY(1);
    transition-delay: 1s;
}

#span-icon-shop {
    position: relative;
    top: 0.4em;
    left: -0.1em;
    font-size: 50px;
    z-index: 1;
}

#span-icon-shops {
    position: relative;
    top: -0.9em;
    left: 0.9em;
    font-size: 50px;
    color: #ffffff;
    z-index: 1;
}

#btnordenar {
    position: relative;
    background-color: #007bff;
    border-color: #007bff;
    top: 1em;
    right: 0.5em;
}

#btnordenars {
    position: relative;
    top: 0.4em;
    right: 1.8em;
    background-color: #007bff;
    border-color: #007bff;
}

#galery:hover .infogal {
    cursor: pointer;
    left: 0%;
}

/*Código responsive*/
@media screen and (min-width:320px) and (max-width:466px){
    #btnordenars{
        top: 1.4em;
    }
    #divss{
        margin: 12px 140px 77px;
    flex: 1;
    padding-left: 5%;
    padding-top: 8%;
    padding-bottom: 15%;

    }

    #span-icon-shops{
        top: -0.2em;
    left: 0.9em;
    }

     #divs {
        margin: 12px 51px 95px;
        padding-top: 0%;
    } 
    #divs span.border{
       top: -2em;
       
    }
    #span-icon-shop{
        top: 0.7em;
    }
    
} 
 @media screen and (min-width:768px) and
(max-width:991px){
    #divs span.border {
        width: 3em;
        height: 3em;
    }
    
    #btnordenars{
        top: 1.2em;
        left: -1.1em;
    }
    #divs{
        margin: 5px 24px 95px;
        top: 2.5em;
        height: 10em;
    }
    #span-icon-shop {
        top: -0.1em;
        font-size: 33px;
    }
    #span-icon-shops{
        top: -0.5em;
     left: 1.4em;
        font-size: 34px;
    }
    #divs span.borders{
        width: 3.5em;
        height: 3.5em;
        top: 0em;
        left: 0em;
    }
    #btnordenar {
        top: -1em;
        font-size: 11px;
        padding: 5px;
    }
} 
@media (max-width: 576px){
.navbar-expand-sm .navbar-nav .nav-link {

    font-size: 1em;
}
footer div div:nth-of-type(2) h5 {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 120%;
}
}
@media (min-width: 89px){
    .navbar-expand-sm .navbar-nav .nav-link {
    
        font-size: 1.2em;
    }
    }
.img_style1{
 width: 60px;
 display: block;
 float: left;
}

@media (min-width: 835px){
    .navbar-expand-sm .navbar-nav .nav-link {
    
        font-size: 1.2em;
    }
    }
.img-fluid_imagen {
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
}
.btn_style{
    width:35%; 
    max-width:400px;
    min-width: 120px;
    margin-top: 10px;
}
.btn_style1{
 margin: auto;
 padding-left: 30px;
}
.img_style1{
 width: 60px;
 display: block;
 float: left;
}

.comentario_face{
    padding-bottom:30px;
}
.comentario_face>div{
    display: block;
}


.row {
 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0px;
}
.contenedor_navbar{
    font-size: 1rem;
}

@media (max-width: 922px){
    .img_style1{
        display: none;
       }
}

@media (max-width: 800px){
    .btn_style{
        min-width: 80px;
    }
}

@media (max-width: 850px){
    .contenedor_navbar{
        font-size: 0.9rem;
    }
}
@media (max-width: 700px){
    .contenedor_navbar{
        font-size: 0.7rem;
    }
}
@media (max-width: 600px){
    .contenedor_navbar{
        font-size: 0.6rem;
    }
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
    width: 95%;
}


#btn-agregar {
    color: white;
}

.title {
    color: #FFF;
    background-color: #3c32a4;
}

.buttonA {
    color: #FFF;
    background-color: #3c32a4;
}

.buttonA:hover {
    color: #FFF;
    background-color: #28216D;
}